<div class="container">
    <div class="row">
        <div class="col-md-1">
            <div class="btn-group-vertical">
                <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span></button>
                <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-volume-up" aria-hidden="true"></span></button>
                <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-bolt" aria-hidden="true"></span></button>
                <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-wheelchair" aria-hidden="true"></span></button>
                <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-th" aria-hidden="true"></span></button>
            </div>
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-center">MorseCodeTrainer</h1>
                </div>
                <div class="col-md-12">
                    <h1 id="challenge" class="text-center">{{challenge}}</h1>
                </div>
                <div class="col-md-12">
                    <h1 id="keyboard" class="text-center">KEYBOARD</h1>
                    <button ng-click='setChallenge("S")'>S</button>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <h2>CheatSheet</h2>
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="(key, value) in itu">{{key}} = {{value}}</li>
            </ul>
        </div>
    </div>
</div>
