<div class="container">
    <div class="row">
        <div class="col-md-1">
            <div class="btn-group-vertical">
                <div class="btn-group">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-bars"></i>
                    </button>
                    <ul class="dropdown-menu">
                        <li ng-if="!user"><a href="#">Login</a></li>
                        <li ng-if="user"><a href="#">Account</a></li>
                        <li ng-if="user"><a href="#">Statistik</a></li>
                        <li><a href="#">About</a></li>
                        <li role="separator" class="divider" ng-if="user"></li>
                        <li ng-if="user"><a href="#">Logout</a></li>
                    </ul>
                </div>
                <button type="button" class="btn btn-primary btn-toggleable" ng-click="btnVolume.status = !btnVolume.status"><i ng-class="{true:'fa fa-volume-up', false:'fa fa-volume-off'}[!btnVolume.status]"></i></button>
                <button type="button" class="btn btn-primary btn-toggleable" ng-click="btnEye.status = !btnEye.status"><i ng-class="{true:'fa fa-eye', false:'fa fa-eye-slash'}[!btnEye.status]"></i></button>
                <div class="btn-group">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <small>{{dropDownCodeActive}}</small><span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li ng-repeat="(key, value) in dropDownMenus.code"><a href="#"><small>{{value}}</small></a></li>
                    </ul>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="{{dropDownSpeedActive}}"></i><span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li ng-repeat="(key, value) in dropDownMenus.speed"><a href="#"><i class="{{value}}"></i></a></li>
                    </ul>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="{{dropDownNoiseActive}}"></i><span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li ng-repeat="(key, value) in dropDownMenus.noise"><a href="#"><i class="{{value}}"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-center">MorseCodeTrainer</h1>
                </div>
                <div class="col-md-12">
                    <h1 id="challenge" class="text-center">{{challenge}}</h1>
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-1" ng-repeat="(key, value) in alphabet">
                            <button ng-click="setChallenge(key)">{{key}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <h2>CheatSheet</h2>
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="(key, value) in itu">{{key}} = {{value}}</li>
            </ul>
        </div>
    </div>
</div>
